<header class="siteHeader">
  <div class="wrap">
    <a href="/" class="brand">Skyler’s Tools</a>

    <nav class="mainNav">
      <ul class="menu">
        <li><a href="/">Home</a></li>

        <li class="hasSubMenu">
          <a href="#">Pages</a>
          <ul class="subMenu">
            <li><a href="/pages/getting-started.html">Getting Started</a></li>
            <li><a href="/pages/patterns.html">Patterns</a></li>
            <li><a href="/pages/components.html">Components</a></li>
          </ul>
        </li>

        <li class="hasSubMenu">
          <a href="#">Tools</a>
          <ul class="subMenu">
            <li><a href="/pages/tools/snippets.html">Code Snippets</a></li>
            <li><a href="/pages/tools/validators.html">Validators</a></li>
            <li><a href="/pages/tools/endless-carousel.html">Endless Carousel</a></li>
          </ul>
        </li>

        <li class="hasSubMenu">
          <a href="#">Designs</a>
          <ul class="subMenu">
            <li><a href="/pages/designs/templates.html">Templates</a></li>
            <li><a href="/pages/designs/color-palettes.html">Color Palettes</a></li>
            <li><a href="/pages/designs/typography.html">Typography</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>
