<header class="siteHeader">
  <div class="wrap">
    <h1 class="brand">Skyler’s Tools</h1>

    <nav class="mainNav">
      <ul class="menu">
        <li><a href="/">Home</a></li>

        <li class="hasSubMenu">
          <a href="#">Pages</a>
          <ul class="subMenu">
            <li><a href="#">Getting Started</a></li>
            <li><a href="#">Patterns</a></li>
            <li><a href="#">Components</a></li>
          </ul>
        </li>

        <li class="hasSubMenu">
          <a href="#">Tools</a>
          <ul class="subMenu">
            <li><a href="#">Code Snippets</a></li>
            <li><a href="#">Validators</a></li>
            <li><a href="#">Endless Carousel</a></li>
          </ul>
        </li>

        <li class="hasSubMenu">
          <a href="#">Designs</a>
          <ul class="subMenu">
            <li><a href="#">Templates</a></li>
            <li><a href="#">Color Palettes</a></li>
            <li><a href="#">Typography</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>
